.section-title {
  font-size: 36px;
  line-height: 49px;
  color: #333C49;
  margin-bottom: 83px;
  font-weight: bold;
}

.section-title--reviews {
  color: $text-color;
  margin-bottom: 0;
  margin-right: 115px;
}