.slider__header {
  display: flex;
  justify-content: space-between;
  padding-right: 40%;
  margin-bottom: 78px;
}

.slider__content {
  display: flex;
  padding-right: 14%;
}

.slider__item {
  width: 50%;

  &:first-child {
    margin-right: 10%;
  }
}

.slider__btn {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }
}