.tags {
  display: flex;
  margin-bottom: 35px;
}

.tags__item {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  background: #F3F6F9;
  border-radius: 40px;
  padding: 14px 22px;
  color: rgba(#333c49, .8);
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}