.userinfo {
  display: flex;
  justify-content: center;
}

.userinfo__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: right;
  color: rgba($text-color, 0.5);
  margin-right: 34px;
  padding-top: 10px;
}

.userinfo__name {
  font-weight: 800;
  font-size: 72px;
  line-height: 60px;
  text-align: left;
  flex-basis: 400px;
}