.user__avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.user__avatar-style {
  width: 200px;
  height: 200px;
}

.user__avatar-pic {
  border-radius: 50%;
}

.user__avatar-data {
  line-height: 30px;
  width: 100%;
  font-weight: 600;
}

.user__data-title {
  color: rgba($text-color, .3)
}