.user__avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.user__avatar-style {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.user__avatar-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.user__avatar-data {
  line-height: 30px;
  width: 100%;
  font-weight: 600;
}

.user__data-title {
  color: rgba($text-color, .3)
}